<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blackpink in your area</title>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js'></script>
</head>

<body class="bg-black bg-scroll bg-repeat-y ">
    <div id="app" class="w-screen ">
        <!-- Header -->
        <h1 class="text-center pt-10 text-5xl text-white">🌟 BLACKPINK IS THE REVOLUTION🌟 </h1>
        <h1 class="text-center text-3xl p-3 text-white">Like Pics (<span class="animate-pulse ">{{picCount}}</span>)
        </h1>
        <div class="flex flex-row justify-center">
            <div v-for="h in heartCount">
                <div class="text-5xl pb-4 transform scale-75 animate-pulse">{{h}}</div>
            </div>
        </div>
        <!-- End Header -->
        <!-- Photo Search -->
        <photo-search :search="isSearch" v-model:s-field="searchField" @start-search="startSearch"
            @cancel-search="cancelSearch"></photo-search>
        <!-- Photo Item -->
        <div class="container mx-auto w-screen  my-8 bg-pink-200">
            <div class="grid grid-cols-4 text-center " v-if="filteredList.length !== 0">
                <div class="my-6" v-for="pic in filteredList">
                    <photo-item :pic="pic" @like-pic="likePic" @switch-modal="toggleModal"></photo-item>
                    <!-- Photo View -->
                    <photo-view :pic="pic" @switch-modal="toggleModal"></photo-view>
                    <div v-if="pic.showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
                </div>
            </div>
            <img v-else class="mx-auto w-full" src="./images/404.jpg" alt="">
        </div>
    </div>

    <!-- my main.js -->
    <script src="./main.js"></script>
    <script src="./components/PhotoItem.js"></script>
    <script src="./components/PhotoSearch.js"></script>
    <script src="./components/PhotoView.js"></script>
</body>

<script>
    const mountedApp = app.mount('#app');
</script>

</html>